<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307793947118-m59uqk0mhqblm14ddctuk8up6ongc5n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307793947118-m59uqk0mhqblm14ddctuk8up6ongc5n4</string>
	<key>API_KEY</key>
	<string>AIzaSyDxYLC-4lDHUILAVFZSun_NtgHVfa-8phc</string>
	<key>GCM_SENDER_ID</key>
	<string>307793947118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DiyetProject</string>
	<key>PROJECT_ID</key>
	<string>diyetproject</string>
	<key>STORAGE_BUCKET</key>
	<string>diyetproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307793947118:ios:0d0bbd6288a0e2d2e446ff</string>
</dict>
</plist>